body::-webkit-scrollbar {
    width: 7px;
    background: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #000000;
    width: 100%;
    height: 5px;
}

.bgVIdeo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
}

.pagConstruccion {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    z-index: 9999999999999999999999999999999999999999999999999999999999;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr;
}

.imgCOns {
    padding-top: 5%;
    padding-left: 5%;
    width: 70%;
}

.videoNoLetras {
    display: none!important;
}

#linkpointer {
    cursor: pointer;
}

.imgSer {
    width: 500px;
    margin: auto 0;
}